
.infinite-scroll-container {
    height: 600px;
    overflow-y: auto;
    
    padding: 10px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.1);
    
    align-content: start;
}

.infinite-scroll-container::-webkit-scrollbar {
    width: 12px;
}

.infinite-scroll-container::-webkit-scrollbar-track {
    background: var(--color-primary);
    border-radius: 0 10px 10px 0;
}

.infinite-scroll-container::-webkit-scrollbar-thumb {
    background-color: var(--color-quaternary);
    border-radius: 10px;
    border: 3px solid var(--color-primary);
}

.instruction {
    text-align: center;
    font-size: 1.1rem;
    color: var(--color-quaternary);
    margin-bottom: 15px;
    font-weight: 500;
}

.infinite-scroll-container .option {
    height: auto;
    min-height: 250px;
}