.main {
  flex-direction: column;
  gap: 32px;
}

form {
  max-width: 100%;
}

fieldset {
  max-width: 100%;
  border: none;

  legend {
    margin-bottom: 32px;

    font-size: 32px;
    font-weight: 600;
    font-family:
      'Inria sans',
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      'Open Sans',
      'Helvetica Neue',
      sans-serif;
  }
}

.options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  max-width: 100%;
}

.option {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: solid white 2px;
  background-color: white;
  cursor: pointer;

  input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &:has(input[type='radio']:checked) {
    border-color: #2f971c;
  }

  .option-image {
    width: 100%;
    flex-basis: 260px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
  }

  .option-label {
    padding: 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Inria Sans', sans-serif;
    cursor: pointer;
  }
}

.next-question-link {
  display: inline-block;
  padding: 16px 44px;
  background-color: #2f971c;
  text-align: center;

  color: white;
  font-size: 32px;
  font-weight: 600;
  font-family:
    'Inria sans',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog:not([open]) {
  display: none;
}

dialog {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;

  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  width: 100vw;
  height: 100vh;

  display: grid;
  place-items: center;

  .dialog-content {
    padding: 12px;
    width: 600px;
    min-height: 150px;
    background-color: var(--color-primary);
    border: solid var(--color-secondary) 4px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    text-align: center;
    color: black;
  }

  .buttons {
    width: 100%;
    min-height: 50px;
    display: flex;
    gap: 12px;

    button {
      flex-grow: 1;
      background-color: var(--color-secondary);
      border: none;
      cursor: pointer;

      &:hover {
        filter: brightness(1.2);
      }

      font-size: 20px;
      font-family:
        'Inria sans',
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Open Sans',
        'Helvetica Neue',
        sans-serif;
    }
  }

  .stars {
    direction: rtl;
    gap: 0;

    button {
      background-color: transparent;

      &:is(:hover, :hover ~ button) svg {
        fill: var(--color-secondary);
      }
    }

    svg {
      width: 80%;
      color: var(--color-secondary);
      fill: none;
    }
  }
}
